.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.30 cl;   
}

.sidebar__search{
    display: grid;
    place-items: center;
    background-color: #f6f6f6;
    height:39px;
    padding:10px;
}
.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width:100%;
    height: 35px;
    border-radius: 15px;   
}

.sidebar__searchContainer >.MuiSvgIcon-root{
    color:gray;
    padding:10px;
}
.sidebar__searchContainer > input {
    border:none;
    margin-left: 10px
}

.sidebar__header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    border-right: 1px solid lightgray;
}



.sidebar__headerRight{
    display: flex;
    /* aligns items vertically */
    align-items: center; 
    justify-content: space-between;
    min-width: 10vw;  
}

.sidebar__headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__chats{
    /* flex direction coloumn */
    flex: 1;
    background-color:white;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;
  }
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
::-webkit-scrollbar-thumb {
    background-color: rgb(196, 188, 188);
    outline: 1px solid slategrey;
  }